<div class="container-fluid bg-secondary vh-100 d-flex align-items-center">
  <div class="mx-auto my-auto bg-info w-75 h-75">
    <div
      *ngFor="let item of [].constructor(rowsQty)"
      class="d-flex flex-row bg-light"
      [style.height.%]="blockSize"
    >
      <div
        *ngFor="let item of [].constructor(columnsQty)"
        class="border d-flex justify-content-center align-items-center"
        [style.width.%]="blockSize"
      >
        <span>.</span>
      </div>
    </div>
  </div>
</div>
