<div
  class="bg-secondary d-flex flex-column justify-content-center align-items-center vh-100"
>
  <div style="height: 900px; width: 1400px">
    <div class="bg-dark rounded p-1 h-100 w-100">
      <!-- ------------------------------------------- X indexes ------------------------------------------- -->
      <div
        class="d-flex flex-row rounded bg-light text-muted"
        [style.height.%]="blockSize"
      >
        <div
          class="d-flex border justify-content-center align-items-center"
          [style.width.%]="blockSize"
        >
          <span class="w-75 h-75 text-center text-light rounded">*</span>
        </div>
        <div
          *ngFor="let _ of [].constructor(columnsQty); let x = index"
          class="d-flex border justify-content-center align-items-center"
          [style.width.%]="blockSize"
        >
          <span
            class="w-75 h-75 text-center rounded"
            style="font-size: 0.7rem"
            >{{ x - columnsQty / 2 }}</span
          >
        </div>
      </div>

      <!-- ------------------------------------------- content ------------------------------------------- -->
      <div
        *ngFor="let _ of [].constructor(rowsQty); let y = index"
        class="d-flex flex-row bg-light"
        [style.height.%]="blockSize"
      >
        <!-- ----------------------- Y index ---------------------- -->
        <div
          class="border d-flex justify-content-center align-items-center"
          [style.width.%]="blockSize"
        >
          <span
            class="w-75 h-75 text-center rounded text-muted"
            style="font-size: 0.7rem"
            >{{ y - rowsQty / 2 }}</span
          >
        </div>
        <!-- ----------------------- content ---------------------- -->
        <div
          *ngFor="let _ of [].constructor(columnsQty); let x = index"
          class="border d-flex justify-content-center align-items-center"
          [style.width.%]="blockSize"
          [style.background-color]="getBoardColor(x, y)"
        >
          <span
            class="w-75 h-75 text-center rounded d-flex justify-content-center align-items-center font-weight-bold"
            style="font-size: 0.7rem"
            [ngClass]="getBlockTextStyles(x, y)"
            [style.background-color]="getBlockColor(x, y)"
          >
            {{ getBlockTextContent(x, y) }}
          </span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap p-1">
      <div
        *ngFor="let endpointPair of endpoints; let i = index"
        class="border border-secondary rounded text-center my-1"
        style="cursor: pointer"
        [style.background-color]="
          getBlockColor(
            endpointPair[0][0] + rowsQty / 2,
            endpointPair[0][1] + columnsQty / 2
          )
        "
        (mouseenter)="onLegendBlockMouseEnter(i)"
        (mouseleave)="onLegendBlockMouseLeave()"
        [style.width.%]="blockSize"
      >
        {{ i }}
      </div>
    </div>
  </div>
</div>
